<div class="Navbar">
    <div>
        <h1 class="NavName">Peyton Helms</h1>
    </div>
    <div class="nav-links">
        <ul class="nav-list">
            <li>
                <a href="/" class="a-list">Home</a>
            </li>
            <li>
                <a href="/AboutMe" class="a-list">About Me</a>
            </li>
            <li>
                <a href="/Projects" class="a-list">Projects</a>
            </li>
            <li>
                <a href="/Contact" class="a-list">Contact</a>
            </li>
            <li>
                <a href="/Reviews/New" class="a-list">Reviews</a>
            </li>
        </ul>
    </div>
</div>