@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div>
        @await Html.PartialAsync("_Navbar")
    </div>
    <div class="AboutMe">
        <h3>About Me</h3>
        <br>
        <p>
            Hey I'm Peyton. I'm from Texarkana, Arkansas. I grew up on the family farm and enjoyed it but that wasn't my calling.
            I enjoy hunting and fishing in my spare time. I am Christian, but I still respect everyone no matter what, because 
            that's how I was raised.
        </p>
        <br>
        <p>
            I started coding because I had to do a little bit in high school and I loved it. But I listened to the norm in my area 
            and I went into the trade work denying what I actually wanted to do. I eventually decided to go back and went through 
            Coding Dojo to become a Software Developer. I love this work and the constant changes that come so that it gives you something new 
            to learn every day.
        </p>
        <br>
        <p>
            I'm not the strongest with front-end work but I can make something look decent enough. I personally like the back-end. 
            Especially the MySQL backend. I hope to further my knowledge into the back end and learn all the new things
            that come with time. 
        </p>
        <br>
        <p>
            All in all, I will give any job my 110%. I believe in putting the time in for the things you love and coding is that.
            I will sometimes over work myself but that's just me showing how much I'm loving what I'm doing.
        </p>
    </div>
</div>
