@{
    ViewData["Title"] = "Home Page";
}


<div>
    @await Html.PartialAsync("_Navbar")
    <div class="Main">
        <h2>Hey I'm Peyton</h2>
        <p>Software Developer <br> Backend Lover</p>
        <a href="/AboutMe" type="button" class="abt-btn">About Me</a>
    </div>
</div>
