@{
    ViewData["Title"] = "Home Page";
}
@model Review
<div>
    <div>
        @await Html.PartialAsync("_Navbar")
    </div>
    <div class="Review-Form">
        <h1>Make a Review</h1>
        <p>I ask for anyone that has worked with me or around me to please leave a review of me.</p>
        <form asp-action="CreateReview">
            <div>
                <input type="text" asp-for="FirstName" placeholder="First Name">
                <span asp-validation-for="FirstName"></span>
                <input type="text" asp-for="LastName" placeholder="Last Name">
                <span asp-validation-for="LastName"></span>
            </div>
            <div>
                <textarea cols="50" rows="5" asp-for="Comment"></textarea>
            </div>
            <button class="ReviewBtn">Submit Review</button>
        </form>
    </div>
    <div class="Reviews-Slider">
        <h1 style="text-decoration: underline; margin-bottom: 30px;">Reviews</h1>
        @foreach (Review r in ViewBag.AllReviews)
        {
            <div style="margin-bottom: 20px;">
                <h4>@r.FirstName @r.LastName</h4>
                <p>@r.Comment</p>
            </div>
        }
    </div>
</div>